In [14]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv("./src/bank.csv")

#### Dropping entries with too many unknown values

In [9]:
df_unknown = df[(df["education"] == "unknown") & (df["contact"] == "unknown") & (df["poutcome"] == "unknown") & (df["job"] == "unknown")]
display(df_unknown)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
4993,57,unknown,married,unknown,no,19268,no,no,unknown,23,oct,301,1,-1,0,unknown,yes
5487,43,unknown,married,unknown,no,1517,no,no,unknown,20,jun,45,1,-1,0,unknown,no
5688,47,unknown,married,unknown,no,1880,no,no,unknown,18,jun,64,2,-1,0,unknown,no
6985,59,unknown,married,unknown,no,2443,no,no,unknown,20,jun,8,8,-1,0,unknown,no
7074,42,unknown,single,unknown,yes,61,no,no,unknown,20,jun,115,1,-1,0,unknown,no
8373,59,unknown,divorced,unknown,no,27,no,no,unknown,5,may,347,3,-1,0,unknown,no

In [10]:
df = df.drop(df_unknown.index)

#### Deleting "contact" column which have unrelevant values

In [11]:
df = df.drop('contact', axis=1)

#### Replacing "unknown" values with "other" in "poutcome" column

In [12]:
df['poutcome'] = df['poutcome'].replace('unknown', 'other')

#### Replacing "unknown" with NaN in "job" and "education" columns so they can get treated after the train/test split

In [15]:
df["job"] = df["job"].replace("unknown",np.nan)
df["education"] = df["education"].replace("unknown",np.nan)

#### Saving to .csv file

In [18]:
df.to_csv("./src/bank_cleaned.csv", index=False)